<% if (!infobit.infobit_type.nil?) %>


  <div class="infobit item <%= get_col(infobit.columns)%>">
      <div class="infobit-meta">
        <div class="link">
          <%= get_icon(infobit.infobit_type, infobit.link) %>
           added <%= time_ago_in_words(infobit.created_at) %> ago
          
           <% if signed_in? %>
          <span class="delete-infobit"><%= link_to ('<i class="icon-remove"></i>').html_safe, [@infozaic, infobit], :title => "Delete", :rel => "tooltip",confirm: 'Are you sure?', method: :delete %></span>
          <% end %>
        </div>
        <div class="opinion">
          <div class="likes">
            <div class="likes-button"><i rel="tooltip" title="Vote Up" class="icon-arrow-up"></i></div><div class="opinion-count"><%= infobit.likes_count %></div>
          </div>
          <div class="dislikes">
            <div class="dislikes-button"><i rel="tooltip" title="Vote Down" class="icon-arrow-down"></i></div><div class="opinion-count"><%= infobit.dislikes_count %></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="infobit-content">

  


      <% case infobit.infobit_type 

         when "photo" %>
          
            <div class="img-overlay">
              <div class="img-overlay-content">
                <h1><%= infobit.title %></h1>
                <p><%= infobit.description %></p>
              </div>
              <%= image_tag infobit.link %>
            </div>

      <% when "youtube" %>
          <%= youtube_embed(infobit.link) %>


      <% when "vimeo" %>
          <%= vimeo_embed(infobit.link) %>


      <% when "quote" %>
          <div class="padding">
            <p class="lead"><%= infobit.description %></p>
            <p class="pull-right"><strong><%= infobit.title %></strong><br>
            <%= infobit.subtitle %></p>
            <div class="clear"></div>
          </div>

      <% when "article" %>
          <div class="padding">
            <h1><%= infobit.title %></h1>
            <h6><%= infobit.source %></h6>
            <p><%= infobit.description %></p>
          </div>

      <% when "website" %>
          <div class="padding">
            <p><strong><a href="<%= infobit.link %>"><%= infobit.title %></a></strong><br>
            <%= truncate(infobit.link, :length => 50, :omission => '...') %></p>
            <%= render_thumb(infobit.link, 330, 200) %>
          </div>

      <% when "wikipedia" %>
        <div class="padding">
            <h3><%= infobit.title %></h3>
            <p><%= infobit.description %>...<a rel="tooltip" href="#" data-original-title="Reveal more text">more</a></p>
          </div>
      <% end %>


  </div>
</div>
<% end %>