<% provide(:title, "Infozaic: A New Collaborative Information Platform") %>
<% provide(:full_url, "http://beta.infozaic.com") %>
<% provide(:thumb_url, "http://beta.infozaic.com/assets/logo.png") %>
<% provide(:desc, "Infozaic is a web platform that allows users to collaboratively build information mosaics on any given topic, incorporating web pages, videos, pictures, and other embeddable content.") %>

      <div class="row">
        
        <div class="span9">


          <div class="infobit item welcome-infobit">
            <div class="infobit-meta">
                <div class="link">
                <i class="icon-info-sign"></i> Learn More About Infozaic!
              </div>
            </div>


            <div class="infobit-content">
                <div class="welcome-infobit-padding">    
                  <h1>Welcome to Infozaic</h1>
                  <p>With the development of an increasing amount of online media platforms which host embeddable content, we find ourselves in need of a new information platform that can integrate all popular modern forms of media. <strong>Infozaic</strong> is a web platform that allows users to collaboratively build “information mosaics” on any given topic, incorporating web pages, videos, pictures, and other embeddable content.</p>

                  <a class="btn-group pull-right">
                    <a href="<%= create_path %>" class="btn btn-info btn-large">Create an Infozaic!</a> 
                    <a href="<%= about_path %>" class="btn btn-large ">Learn More</a>
                  </a>   
                </div>
            </div>
            <div class="infobit-home-social">
                <div class="home-social">
                  <fb:like href="http://beta.infozaic.com/" send="false" width="650" show_faces="true"></fb:like>
                </div>
            </div>
          </div>
        </div><!--/span-->
        <div class="span3">
         <div class="infobit item">
            <div class="infobit-meta">
              <div class="link">
                <i class="icon-user"></i> Sign In or Sign Up!
              </div>
            </div>
            <div class="infobit-content">
                <div class="login-infobit-padding">    
                  <% if signed_in? %>

                    <h6>Logged in as:</h6>
                    <h3><%= current_user.name %></h3>
                    
                    <%= link_to "Sign Out", signout_path, method: "delete", class: "btn btn-signup" %>

                  <% else %>
                    <h6>Member Login</h6>
                     <%= form_for(:session, :url => sessions_path) do |f| %>
                        <%= f.text_field :email, class: "login-field", placeholder: "Email" %>
                        <%= f.password_field :password, class: "login-field", placeholder: "Password" %>
                        <label class="checkbox">
                          <input type="checkbox"> Remember me
                        </label>
                        <%= f.submit "Sign In", class: "btn btn-info" %>
                    <% end %>
                     <hr>
                     <h6>Not a Member?</h6>
                     <a class="modal-btn btn btn-signup" data-toggle="modal" href="#signup-modal" >Sign Up, It's Free!</a>
                  <% end %>  
                </div>
            </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
      <div class="row">
            <div class="span4">
              
              <div class="infobit item value-infobit">
                <div class="infobit-meta">
                  <div class="link">
                    <i class="icon-ok"></i>
                  </div>
                </div>
                <div class="infobit-content">
                    <div class="padding">    
                          <h2>Collaborative</h2>
                  <p>Information should be shared, and validated against the opinions of the general population. Infozaic will eventually allow for a robust system of rating information quality and relevance.</p>
                    </div>
                </div>
              </div>
            </div><!--/span-->
            <div class="span4">
              
              <div class="infobit item value-infobit">
                <div class="infobit-meta">
                  <div class="link">
                    <i class="icon-ok"></i>
                  </div>
                </div>
                <div class="infobit-content">
                    <div class="padding">    
                          <h2>Modern</h2>
                          <p>All the major embeddable media sources will be able to be added to an infozaic. Like Wikipedia, but revamped to work with modern media and visualize it in a unique mosaic layout.</p>
                    </div>
                </div>
              </div>
            </div><!--/span-->
            <div class="span4">

               <div class="infobit item value-infobit">
                <div class="infobit-meta">
                  <div class="link">
                    <i class="icon-ok"></i>
                  </div>
                </div>
                <div class="infobit-content">
                    <div class="padding">    
                          <h2>Transparent</h2>
                          <p>Infozaic will be released as a free service, and hopefully be picked up on in the open source community.  The goal is to provide free, user-validated, user-reviewed information.</p>

                    </div>
                </div>
              </div>
              
            </div><!--/span-->
       </div><!--/row-->

       <div class="row">
        
        <div class="span12">
          <div class="alert alert-info home-alert">
            <h2 class="alert-heading">Latest Infobits Posted</h2>
          </div>
           <div id="canvas-inner" class="three-col">

            <% if @infobits.any? %>
              <%= render @infobits.reverse %>
            <% end %>
          </div> <!-- /#canvas -->
        </div><!--/span-->
      </div><!-- /row -->


<script>
    $(function(){
      var $container = $('#canvas-inner');
      var cols = 3;

      // Find all YouTube and Vimeo embed videos and make them fit to infobit
      var $allEmbeds = $("iframe");
       // Resize all videos according to their own aspect ratio
        $allEmbeds.each(function() {
          var $elem = $(this);
          var newWidth = $(this).parent().width();
          var newHeight = newWidth * $elem.attr('data-aspect');
          //$elem.attr('width', newWidth);
          //$elem.attr('height', newHeight);
          $elem
            .width(newWidth)
            .height(newHeight);
          //$elem.attr('src', $elem.attr('src'));
        });

      $container.imagesLoaded( function(){

        $container.isotope({
          // options
          itemSelector : '.item',
          resizable: false, // disable normal resizing
 
          // set columnWidth to a percentage of container width
          masonry: { columnWidth: $container.width() / cols }
        });
      });
    });
  </script>

<% if !signed_in? %>
<div id="signup-modal" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Sign Up for a New Account</h3>
    </div>
    <div class="modal-body">
      <%= form_for(@user, :html => { :class => "form-horizontal" } ) do |f| %>
        <fieldset>
          <div class="control-group">
            <%= f.label :name, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :name, class: "input-xlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :email, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :email, class: "input-xlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :bio, class: "control-label" %>
            <div class="controls">
              <%= f.text_area :bio, :rows => 3, class: "input-xlarge" %>
                  <p class="help-block">Give a brief description of who you are in 1000 characters or less.</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :facebook, class: "control-label" %>
            <div class="controls">
              
              
              <div class="input-prepend">
                  <span class="add-on">facebook.com/</span><%= f.text_field :facebook,class: "input-xlarge", placeholder: "Facebook Handle" %>
                </div>
                <p class="help-block">Please only type in your profile name for Facebook, not the entire URL.</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :twitter, class: "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                  <span class="add-on">twitter.com/</span><%= f.text_field :twitter,class: "input-xlarge", placeholder: "Twitter Handle" %>
                </div>
              <p class="help-block">Please only type in your profile name for Twitter, not the entire URL.</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :linkedin, class: "control-label" %>
            <div class="controls">
              

              <div class="input-prepend">
                  <span class="add-on">linkedin.com/in/</span><%= f.text_field :linkedin,class: "input-xlarge", placeholder: "LinkedIn Handle" %>
                </div>
              <p class="help-block">Please only type in your profile name for LinkedIn, not the entire URL.</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password, class: "control-label" %>
            <div class="controls">
              <%= f.password_field :password, class: "input-xlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password_confirmation, "Confirmation", class: "control-label" %>
            <div class="controls">
              <%= f.password_field :password_confirmation, class: "input-xlarge" %>
            </div>
          </div>
        </fieldset>
      
    </div>
    <div class="modal-footer">
      <%= f.submit "Create an Account", class: "btn btn-info" %>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      
      
    </div>
    <% end %>
  </div>
<% end %>