<ul class="breadcrumb">
        <li>
          <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
          <a href="#">Infozaics</a> <span class="divider">/</span>
        </li>
        <li class="active">Search</li>
      </ul>

<div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            
            <ul class="nav nav-list">
              <h3>Filters</h3>
              <li class="nav-header">By Category</li>
              <li><a href="#">Education</a></li>
              <li class="active" ><a href="#">Art</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Science</a></li>
              <li><a href="#">Literature</a></li>
              <li class="active"><a href="#">Philosophy</a></li>
              <li><a href="#">Religion</a></li>
              <li><a href="#">Culture</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <h1>Search for 'international style'</h1>
          <h6>filters</h6>
          <span class="label label-info"><i class="icon-remove icon-white"></i> Art</span> 
          <span class="label label-info"><i class="icon-remove icon-white"></i> Philosophy</span> 
          <hr>
          <div class="row-fluid">
            <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Tags</th>
            <th>Hits</th>
            <th>Creator</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to image_tag("screenshot.png", :class => "screenshot"), '#' %>
              Bauhaus
            </td>
            <td>

                <span class="label label-info">International Style</span>
                <span class="label label-info">Bauhaus</span>
                <span class="label label-info">Modern</span>
                <span class="label label-info">Germany</span>
                <span class="label label-info">Fine Arts</span>
            </td>
            <td> 53
            </td>
            
            <td>
              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
            </td>
            <td>
                  <button class="btn btn-small btn-success">View</button>
          </td>
          </tr>

          <tr>
            <td>
              <%= link_to image_tag("screenshot.png", :class => "screenshot"), '#' %>
              Bauhaus
            </td>
            <td>

                <span class="label label-info">International Style</span>
                <span class="label label-info">Bauhaus</span>
                <span class="label label-info">Modern</span>
                <span class="label label-info">Germany</span>
                <span class="label label-info">Fine Arts</span>
            </td>
            <td> 53
            </td>
            
            <td>
              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
            </td>
            <td>
                  <button class="btn btn-small btn-success">View</button>
          </td>
          </tr>

          <tr>
            <td>
              <%= link_to image_tag("screenshot.png", :class => "screenshot"), '#' %>
              Bauhaus
            </td>
            <td>

                <span class="label label-info">International Style</span>
                <span class="label label-info">Bauhaus</span>
                <span class="label label-info">Modern</span>
                <span class="label label-info">Germany</span>
                <span class="label label-info">Fine Arts</span>
            </td>
            <td> 53
            </td>
            
            <td>
              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
            </td>
            <td>
                  <button class="btn btn-small btn-success">View</button>
          </td>
          </tr>

          <tr>
            <td>
              <%= link_to image_tag("screenshot.png", :class => "screenshot"), '#' %>
              Bauhaus
            </td>
            <td>

                <span class="label label-info">International Style</span>
                <span class="label label-info">Bauhaus</span>
                <span class="label label-info">Modern</span>
                <span class="label label-info">Germany</span>
                <span class="label label-info">Fine Arts</span>
            </td>
            <td> 53
            </td>
            
            <td>
              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
            </td>
            <td>
                  <button class="btn btn-small btn-success">View</button>
          </td>
          </tr>

          <tr>
            <td>
              <%= link_to image_tag("screenshot.png", :class => "screenshot"), '#' %>
              Bauhaus
            </td>
            <td>

                <span class="label label-info">International Style</span>
                <span class="label label-info">Bauhaus</span>
                <span class="label label-info">Modern</span>
                <span class="label label-info">Germany</span>
                <span class="label label-info">Fine Arts</span>
            </td>
            <td> 53
            </td>
            
            <td>
              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
            </td>
            <td>
                  <button class="btn btn-small btn-success">View</button>
          </td>
          </tr>
          
        </tbody>
      </table>

      <div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->