
      <%= form_for(@user, :html => { :class => "form-horizontal" } ) do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-error">
        <h4 class="alert-heading">The form contains <%= pluralize(@user.errors.count, "error") %>.
            </h4>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>



        <fieldset>
          <legend>Details</legend>
          <div class="control-group">
            <%= f.label :name, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :name, class: "input-xlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :email, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :email, class: "input-xlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :bio, class: "control-label" %>
            <div class="controls">
              <%= f.text_area :bio, :rows => 3, class: "input-xlarge" %>
                  <p class="help-block">Give a brief description of who you are in 1000 characters or less.</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :facebook, class: "control-label" %>
            <div class="controls">
              
              
              <div class="input-prepend">
                  <span class="add-on">facebook.com/</span><%= f.text_field :facebook,class: "span2", placeholder: "Facebook Handle" %>
                </div>
                <p class="help-block">Please only type in your profile name for Facebook, not the entire URL.</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :twitter, class: "control-label" %>
            <div class="controls">
              <div class="input-prepend">
                  <span class="add-on">twitter.com/</span><%= f.text_field :twitter,class: "span2", placeholder: "Twitter Handle" %>
                </div>
              <p class="help-block">Please only type in your profile name for Twitter, not the entire URL.</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :linkedin, class: "control-label" %>
            <div class="controls">
              

              <div class="input-prepend">
                  <span class="add-on">linkedin.com/in/</span><%= f.text_field :linkedin,class: "span2", placeholder: "LinkedIn Handle" %>
                </div>
              <p class="help-block">Please only type in your profile name for LinkedIn, not the entire URL.</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password, class: "control-label" %>
            <div class="controls">
              <%= f.password_field :password, class: "input-xlarge" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password_confirmation, "Confirmation", class: "control-label" %>
            <div class="controls">
              <%= f.password_field :password_confirmation, class: "input-xlarge" %>
            </div>
          </div>



          <div class="form-actions">
            <%= f.submit "Create an Account", class: "btn btn-primary" %>
            <button class="btn" type="reset">Reset</button>
          </div>
        </fieldset>
    <% end %>
    