<% provide(:title, @user.name) %>
      <div class="row">
         <div class="span3">
        	<div class="well">
            <%= gravatar_for @user, size: 200 %>

		  		<h3><%= @user.name %></h3>

          <br>
          <h6>Joined</h6>
          <p><%= time_ago_in_words(@user.created_at) %> ago</p>

          <h6>Email</h6>
          <p><%= @user.email %></p>
          
          <% if !@user.twitter.nil? && !@user.twitter.empty? %>
            <%= link_to image_tag("icon-twitter.png", :class => "social-icon"), 'http://www.twitter.com/'+@user.twitter, :title => "Follow #{@user.name} on Twitter", :rel => "tooltip" %>
          <% end %>
          <% if !@user.facebook.nil? && !@user.facebook.empty?  %>
            <%= link_to image_tag("icon-facebook.png", :class => "social-icon"), 'http://www.facebook.com/'+@user.facebook, :title => "Follow #{@user.name} on Facebook", :rel => "tooltip" %>
          <% end %>
          <% if !@user.linkedin.nil? && !@user.linkedin.empty? %>
            <%= link_to image_tag("icon-linkedin.png", :class => "social-icon"), 'http://www.linkedin.com/in/'+@user.linkedin, :title => "Follow #{@user.name} on LinkedIn", :rel => "tooltip" %>
          <% end %>

          <div class="clear"></div>

			</div> <!--/well-->
        </div><!--/span-->
        <div class="span9">

          <div class="row">
            <div class="span9">
              <div class="hero-unit">
                <h6>About <%= @user.name %></h6>

                <p>
                  <% if !@user.bio.nil? && !@user.bio.empty? %>
                    <%= @user.bio %>
                  <% else %>
                    This user has not added a bio yet.
                  <% end %>
                </p>
                <h6>Infozaic Stats</h6>
                <p>4 created | 13 collaborated</p>
              </div>
            </div>
          </div>
        	<div class="row">
            <div class="span5">
              
              <h2>Activity Feed</h2>
              <hr>
            </div>

            <div class="span4">
              <h2>Infozaic History</h2>
              <hr>
            </div>


          </div>
        </div><!--/span-->

      </div><!--/row-->


