<%= form_for(@infozaic, :html => { :class => "form-horizontal" } ) do |f| %>
	<% if @infozaic.errors.any? %>
	    <div class="alert alert-error">
        <h4 class="alert-heading"><%= pluralize(@infozaic.errors.count, "error") %> prohibited this infozaic from being saved:</h4>

	      <ul>
	      <% @infozaic.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	<fieldset>
	  <legend>Details</legend>

	  <div class="control-group">
	    <%= f.label :title, class: "control-label" %>
	    <div class="controls">
	      <%= f.text_field :title, class: "input-xlarge" %>
          <p class="help-block">What is the title or subject of your infozaic?</p>
	    </div>
	  </div>

	  <div class="control-group">
	    <%= f.label :description, class: "control-label" %>
	    <div class="controls">
	      <%= f.text_area :description, :rows => 10, class: "input-xlarge" %>
          <p class="help-block">Please give a one paragraph synopsis of this infozaic in 1000 characters or less.</p>
	    </div>
	  </div>

	  <%= f.hidden_field :user_id, :value => current_user.id %>

	  <div class="form-actions">
	    <%= f.submit "Submit Infozaic", class: "btn btn-info" %>
	    <button class="btn" type="reset">Reset</button>
	  </div>
	</fieldset>
<% end %>