<% provide(:title, @infozaic.title) %>
<% provide(:full_url, get_full_url(@infozaic.id.to_s)) %>
<% provide(:thumb_url, render_thumb_url(get_full_url(@infozaic.id.to_s),300, 200)) %>

<% provide(:desc, @infozaic.description) %>
<% @skip_footer = true %>

<% if signed_in? %>
<% provide(:extrastyle, '-fluid single') %>
<div class="subnav subnav-fixed">

      <ul class="nav nav-pills pull-left">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Video <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="youtube">YouTube</a></li>
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="vimeo">Vimeo</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Photo <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="photo">Link to Photo</a></li>
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="flickr">Flickr Slideshow</a></li>
            <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="photo-upload">Upload</a></li>
          </ul>
        </li>
        <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="quote">Quote</a></li>
        <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="article">Article</a></li>
        <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="website">Website</a></li>

        <li><a class="modal-btn" data-toggle="modal" href="#add-modal" data-type="wikipedia">Wikipedia</a></li>

       
      </ul>


      <ul class="nav nav-pills pull-right">
        <li><a data-toggle="modal" href="#edit-modal">Edit Meta</a></li>
        <li><a data-toggle="modal" href="#edit-modal">Collaborate</a></li>
      </ul>

          
</div><!-- /.subnav -->

<% else %>

<% provide(:extrastyle, '-fluid single logged_off') %>
<% end %>

<div class="mini-meta">
      <span class="mini-meta-title"><%= @infozaic.title %></span>


</div> <!-- /.mini-meta -->
    
<div class="row-fluid meta">
      <div class="span9">
      
        <div id="meta-left">
          <h1 id="meta-title"><%= @infozaic.title %></h1>
          <h6>description</h6>
            <p id="meta-description"><%= @infozaic.description %></p>
          
        </div>
      </div> <!-- /.span8 -->
      <div class="span3">
        <div id="meta-right">
          <div class="row">
              <div id="modified">
                <h6>last modified</h6>
                <span id="date"><%= time_ago_in_words(@infozaic.updated_at) %> ago</span>
              </div>
          </div>

          <div class="row">
            <div id="contributers">
              <h6>contributers</h6>
              <%= link_to image_tag("profile/2.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "jbroglie", :rel => "tooltip" %>
              <%= link_to image_tag("profile/3.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "mhighland", :rel => "tooltip" %>
              <%= link_to image_tag("profile/4.jpeg", :class => "profile-icon", :size => "30x30"), '#', :title => "etolle", :rel => "tooltip" %>
            </div>
          </div>

          <div class="row">
            <div id="contributers">
              <h6>share</h6>
              <p>
              <fb:like href="<%= "http://#{request.host+request.fullpath}" %>" send="false" layout="button_count" width="100" show_faces="false"></fb:like>
            </p>
            </div>
          </div>
        </div>
      </div><!-- /.span3 -->
</div><!-- /.row -->


<div id="canvas">
  <% if @infobits.any? %>
    <%= render @infobits.reverse %>
  <% end %>
</div> <!-- /#canvas -->


<script>
    $(function(){

      var $container = $('#canvas');

      $container.imagesLoaded( function(){

        $container.masonry({
          itemSelector : '.item',
          columnWidth: 200,
          isResizable: true,
          isAnimated: true
        });

        /*
        $container.sortable({
            distance: 12,
            forcePlaceholderSize: true,
            items: '.item',
            placeholder: 'infobit-sortable-placeholder item',
            tolerance: 'pointer',
            handle: '.infobit-meta',
            
            start:  function(event, ui) {            
                     console.log(ui); 
                ui.item.addClass('dragging').removeClass('item');
                if ( ui.item.hasClass('bigun') ) {
                     ui.placeholder.addClass('bigun');
                     }
                       ui.item.parent().masonry('reload')
                    },
            change: function(event, ui) {
                       ui.item.parent().masonry('reload');
                    },
            stop:   function(event, ui) { 
                       ui.item.removeClass('dragging').addClass('item');
                       ui.item.parent().masonry('reload');
            }
        });*/
      });




      // display mini-meta on scroll
      var $win = $(window)
        , $miniMeta = $('.mini-meta')
        , metaBottom = $('.meta').offset().top + 100
        , isFixed = 0

      processScroll()

      $win.on('scroll', processScroll)

      function processScroll() {
        var i, scrollTop = $win.scrollTop()
        if (scrollTop >= metaBottom && !isFixed) {
          isFixed = 1
          $miniMeta.fadeIn()
        } else if (scrollTop <= metaBottom && isFixed) {
          isFixed = 0
          $miniMeta.fadeOut()
        }
      }

    });

  </script>



<!-- edit modal -->
  <div id="edit-modal" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Edit Meta</h3>
    </div>


    
    <div class="modal-body">
      <%= form_for(@infozaic, :remote => true, :html => { :class => "form-horizontal ajax-edit" } ) do |f| %>
        <% if @infozaic.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@infozaic.errors.count, "error") %> prohibited this infozaic from being saved:</h2>

              <ul>
              <% @infozaic.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <fieldset>

          <div class="control-group">
            <%= f.label :title, class: "control-label" %>
            <div class="controls">
              <%= f.text_field :title, class: "input-xlarge" %>
                <p class="help-block">What is the title or subject of your infozaic?</p>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :description, class: "control-label" %>
            <div class="controls">
              <%= f.text_area :description, :rows => 3, class: "input-xlarge" %>
                <p class="help-block">Please give a one paragraph synopsis of this infozaic.</p>
            </div>
          </div>
        </fieldset>

        
      <% end %>
      
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" id="edit-submit" class="btn btn-primary">Update</a>
      </div>

    


      

    
  </div> <!-- / #edit-modal  -->

<!-- add modal content -->
  <div id="add-modal" class="modal hide fade">
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Modal Heading</h3>
    </div>
    <div class="modal-body">


      <div class="modal-type" id="wikipedia">
        

        <%= form_for([@infozaic, @wikipedia_infobit], :remote => true, :namespace => "wikipedia", :html => { :class => "form-horizontal" } ) do |f| %>
        
          <fieldset>

            <div class="control-group">
              <%= f.label :link, "Wikipedia Link", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :link, class: "input-xlarge", placeholder: "http://en.wikipedia.org/wiki/..." %>
                <p class="help-block">Paste in the Wikipedia URL.</p>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :title, "Title", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :title, class: "input-xlarge" %>
                <p class="help-block">This should be the article title.</p>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :description, "Content", class: "control-label" %>
              <div class="controls">
                <%= f.text_area :description, :rows => 3, class: "input-xlarge" %>
                <p class="help-block">The first paragraph on Wikipedia for this topic should do fine!</p>
              </div>
            </div>

            <%= f.hidden_field :infobit_type, :value => "wikipedia" %>
          </fieldset>
        <% end %>

        <a href="#" id="btn-preview-wikipedia" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #wikipedia.modal-type  -->




      <div class="modal-type" id="quote">

        <%= form_for([@infozaic, @quote_infobit], :remote => true, :namespace => "quote", :html => { :class => "form-horizontal" } ) do |f| %>
        
          <fieldset>


            <div class="control-group">
              <%= f.label :title, "Quote Author", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :title, class: "input-xlarge" %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :subtitle, "Author Title", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :subtitle, class: "input-xlarge" %>
                <p class="help-block">Optional. Who is this author?</p>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :description, "The Quote", class: "control-label" %>
              <div class="controls">
                <%= f.text_area :description, :rows => 3, class: "input-xlarge" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :link, "Reference URL", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :link, class: "input-xlarge", placeholder: "http://www.site.com/reference/link" %>
                <p class="help-block">Optional.</p>
              </div>
            </div>

            <%= f.hidden_field :infobit_type, :value => "quote" %>
          </fieldset>
        <% end %>


        <a href="#" id="btn-preview-quote" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #quote.modal-type  -->


      <div class="modal-type" id="article">
        <%= form_for([@infozaic, @article_infobit], :remote => true, :namespace => "article", :html => { :class => "form-horizontal" } ) do |f| %>
        
          <fieldset>


            <div class="control-group">
              <%= f.label :title, "Article Title", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :title, class: "input-xlarge" %>
                <p class="help-block">What is the title of this news article or blog post?</p>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :description, "Article Content", class: "control-label" %>
              <div class="controls">
                <%= f.text_area :description, :rows => 3, class: "input-xlarge" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :source, "Article Source", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :source, class: "input-xlarge" %>
                <p class="help-block">Who published this article?</p>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :link, "Reference URL", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :link, class: "input-xlarge", placeholder: "http://www.site.com/reference/link" %>
              </div>
            </div>

            <%= f.hidden_field :infobit_type, :value => "article" %>
          </fieldset>
        <% end %>


        <a href="#" id="btn-preview-article" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #article.modal-type  -->


      <div class="modal-type" id="website">
        <%= form_for([@infozaic, @website_infobit], :remote => true, :namespace => "website", :html => { :class => "form-horizontal" } ) do |f| %>
        
          <fieldset>

            <div class="control-group">
              <%= f.label :link, "Website URL", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :link, class: "input-xlarge", placeholder: "http://www.website.com" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :title, "Title", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :title, class: "input-xlarge" %>
                <p class="help-block">Give a title or short description of this website.</p>
              </div>
            </div>

            

            <%= f.hidden_field :infobit_type, :value => "website" %>
          </fieldset>
        <% end %>


        <a href="#" id="btn-preview-website" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #website.modal-type  -->


      <div class="modal-type" id="photo">
  

        <%= form_for([@infozaic, @photo_infobit], :remote => true, :namespace => "photo", :html => { :class => "form-horizontal" } ) do |f| %>
        
          <fieldset>
            <div class="control-group">
              <%= f.label :link, "Photo URL", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :link, class: "input-xlarge", placeholder: "http://www.site.com/link/to/photo" %>
                <p class="help-block">Paste in the URL to your photo.</p>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :title, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :title, class: "input-xlarge" %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :description, class: "control-label" %>
              <div class="controls">
                <%= f.text_area :description, :rows => 3, class: "input-xlarge" %>
              </div>
            </div>

            <%= f.hidden_field :infobit_type, :value => "photo" %>


          </fieldset>
        <% end %>


        <a href="#" id="btn-preview-photo" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #photo.modal-type  -->

      <div class="modal-type" id="youtube">
        

        <%= form_for([@infozaic, @youtube_infobit], :remote => true, :namespace => "youtube", :html => { :class => "form-horizontal" } ) do |f| %>
        
          <fieldset>
            <div class="control-group">
              <%= f.label :link, "YouTube URL", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :link, class: "input-xlarge", placeholder: "http://www.youtube.com/watch?v=..." %>
                <p class="help-block">Paste in the YouTube URL.</p>
              </div>
            </div>

            <%= f.hidden_field :infobit_type, :value => "youtube" %>


          </fieldset>
        <% end %>


        <a href="#" id="btn-preview-youtube" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #youtube.modal-type  -->

      <div class="modal-type" id="vimeo">
        <%= form_for([@infozaic, @vimeo_infobit], :remote => true, :namespace => "vimeo", :html => { :class => "form-horizontal" } ) do |f| %>    
          <fieldset>
            <div class="control-group">
              <%= f.label :link, "Vimeo URL", class: "control-label" %>
              <div class="controls">
                <%= f.text_field :link, class: "input-xlarge", placeholder: "http://www.vimeo.com/..." %>
                <p class="help-block">Paste in the Vimeo URL.</p>
              </div>
            </div>
            <%= f.hidden_field :infobit_type, :value => "vimeo" %>
          </fieldset>
        <% end %>

        <a href="#" id="btn-preview-vimeo" class="pull-right btn btn-primary">Generate Preview</a>
        <div class="clear"></div>
      
      </div> <!-- / #vimeo.modal-type  -->

      <div id="preview-wrap">
        <hr>
        <h4>Preview</h4>
        <p>Here is a preview of your infobit:</p>

        <div class="well infobit-example" style="background-color: #888; border: none;">
          <div id="preview">
            <div class="infobit item col2">
              <div class="infobit-meta">
                <div class="link">via <a href="#">Link</a></div>
                <div class="opinion">
                  <div class="likes">
                    <div rel="tooltip" title="Like" class="likes-button"></div><div class="opinion-count">0</div>
                  </div>
                  <div class="dislikes">
                    <div rel="tooltip" title="Dislike" class="dislikes-button"></div><div class="opinion-count">0</div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="infobit-content">
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" id="btn-add" type="" class="btn btn-primary">Add</a>
    </div>
  </div> <!-- / #add-modal  -->
