<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 


    <meta property="og:title" content="<%= yield(:title) %>" />
    <meta property="og:type" content="cause" />
    <meta property="og:url" content="<%= yield(:full_url) %>" />
    <meta property="og:image" content="<%= yield(:thumb_url) %>" />
    <meta property="og:site_name" content="Infozaic" />
    <meta property="fb:app_id" content="252694184827801" /> 
    <meta property="og:description" content="<%= yield(:desc) %>"/>

    <% if current_page?(root_url) %>
      <style type="text/css">
        body {background-image: url("/assets/grid.png");}
      </style>
    <% end %>


    <% if !@skip_header %>
      <style type="text/css">
        #canvas {background-image: url("/assets/grid.png");}
        body { padding-top: 60px;}
      </style>

    <% else %>
      <style type="text/css">
        p {
          font-family: 'Baskerville', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
          font-family: 'Baskerville', sans-serif;
          font-weight: normal;
        }

        body {
          font-family: 'Baskerville', "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      </style>


    <% end %>

    

  </head>
  <body>

    


    <%= render 'layouts/header' %>

      <div class="container<%= yield(:extrastyle) %>">

        <% unless @moveflash %>
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
        <% end %>


      <%= yield %>
      <%= render "layouts/footer" %>
      <% #debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>